@import url(./controls/button.css);

html {
    background-color: #000000;
}

body {
    height: 100vh;
    display: flex;
    background: #040210;
}

p,
h1,
label {
    margin: 0;
    width: 10em;
}

input[type="text"] {
    width: 12em;
}

#display-view,
#control-view {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    zoom: 1;
}


/** main control page view **/
#control-view {}

/** individual control item **/
.control-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30vw;
    margin: 0.5em 0;
}

#label {
    color: green;
    font-size: 40px;
    text-transform: uppercase;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#timer {
    color: green;
    font-size: 80px;
    text-transform: uppercase;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/** Control Style **/
label {
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
}