html,
body {
    height: 100%;
    margin: 0;
    background: rgb(2, 0, 36);
    /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(149, 199, 20, 1) 0%, rgba(0, 212, 255, 1) 96%); */
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgb(26 30 54) 0%, rgb(26 35 41) 96%)
}

.myForm {
    background-color: rgba(0, 0, 0, 0.5) !important;
    padding: 15px !important;
    border-radius: 15px !important;
    color: white;

}

input {
    /* border-radius: 0 15px 15px 0 !important; */
    background-color: #0d0f19a3 !important;
    border: 1px solid #1a232b !important;
    color: white !important;
}

input:focus {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #ccc !important;

}

.br-15 {
    border-radius: 15px 0 0 15px !important;
}